<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/demo.css">
    <script src="../lib/vue.js"></script>
    <script src="../lib/vue-router.js"></script>
</head>
<body>
    <div id="app">
        <div id="searchBar">
            Search <input type="text" v-model="searchQuery">
        </div>
        <simple-grid :data="gridData" :columns="gridColumns" :filter-key="searchQuery"></simple-grid>
    </div>

    <template id="grid-template">
        <table>
            <thead>
            <tr>
                <th v-for="col in columns">
                    {{ col | capitalize }}
                </th>
            </tr>
            </thead>
            <tbody>
            <!-- <tr v-for="entry in data | filterBy filterKey"> -->
            <tr v-for="entry in filterBy(data, filterKey)">
                <td v-for="col in columns">
                    {{ entry[col] }}
                </td>
            </tr>
            </tbody>
        </table>
    </template>

    <script>
        Vue.component('simple-grid', {
            template: '#grid-template',
            props: {
                data: Array,
                columns: Array,
                filterKey: String
            },
            methods: {
                filterBy:  function(list, value) {
                    return list.filter(function(item) {
                        if (!value) {
                            return true;
                        }
                        console.log(item.name);
                        return item.name.indexOf(value) > -1;
                    });
                }
            }
        });

        Vue.filter('capitalize', function(value) {
            if (!value) return '';
            value = value.toString();
            return value.charAt(0).toUpperCase() + value.slice(1);
        });

        var demo = new Vue({
            el: '#app',
            data: {
                searchQuery: '',
                gridColumns: ['name', 'age', 'sex'],
                gridData: [{
                    name: 'Jack',
                    age: 30,
                    sex: 'Male'
                }, {
                    name: 'Bill',
                    age: 26,
                    sex: 'Male'
                }, {
                    name: 'Tracy',
                    age: 22,
                    sex: 'Female'
                }, {
                    name: 'Chris',
                    age: 36,
                    sex: 'Male'
                }]
            }
        });
    </script>
</body>
</html>
