<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>动态组件与v-once指令</title>
    <script type="text/javascript" src="../lib/vue.js"></script>
</head>
<body>
<div id="app">
    <!--v-if会频繁删除dom，所有性能不太好-->
    <!--<child-one v-if="type==='child-one'"></child-one>-->
    <!--<child-two v-if="type==='child-two'"></child-two>-->
    <!--动态组件(完成切换需求)  :is-->
    <component :is="type"></component>

    <button @click="handleBtnClick">change</button>
</div>
<script>
    Vue.component('child-one', {
//        v-once 缓存，提高性能，不会删除dom
        template: '<div v-once>child-one</div>'
    })

    Vue.component('child-two', {
        template: '<div v-once>child-two</div>'
    })

    var vm = new Vue({
        el: "#app",
        data: {
            type: 'child-one'
        },
        methods: {
            handleBtnClick: function () {
                this.type = this.type === 'child-one' ? 'child-two' : 'child-one'
            }
        }
    })
</script>
</body>
</html>