<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../lib/vue.js"></script>
    <script src="../lib/vue-router.js"></script>
</head>
<body>
    <div id="app">
        <h1 v-if="age >= 25">Age: {{ age }}</h1>
        <h1 v-else>Name: {{ name }}</h1>
        <!--v-else 必须跟在v-if或v-show后面-->
        <h1>-----------------------------</h1>
        <h1 v-if="name.indexOf('jack') >= 0">Name: {{ name }}</h1>
        <h1 v-else>Sex: {{ sex }}</h1>
    </div>
    <script>
var vm = new Vue({
    el: '#app',
    data: {
        age: 28,
        name: 'fdafdafdsas',
        sex: 'Male'
    }
});
    </script>
</body>
</html>
